.quanbu{
 position: relative;
    margin:0 auto;
     width:1196px;
    
}
.travelsm{
	position: absolute;
	left: 147px;
	top: 229px;

}
.personal
{
	position: absolute;
	left: 72px;
	top: 175px;
}
.travelbook
{
	position: absolute;
	left: -4px;
	top: 229px;
}
.travel
{
	position: absolute;
	left: 11px;
	top: 310px;
	
}
.makeplan
{
	position: absolute;
	left: 137px;
	top: 308px;
}
.index{
	position: absolute;
	left: 43px;
	top: 225px;
}
.yuan{
	position: absolute;
	left: 21px;
	top: 199px;
	z-index: -1;
	
}
.xuanchuan
{
	margin: 45px 0 0 70px;
	display: inline;

}
.login
{
 margin:0 0 70px 520px;
 display: inline;
 cursor: pointer;


}
.register
{
display: inline;
margin: 0 0 70px 20px;
 cursor: pointer;
}
.zhongyang{
	position: absolute;
	
	width: 760px;
	
	top: 235px;
	left: 215px;
	z-index: -5;
	

}
.content{
	margin: 0 0 0 5px;
	background-color: #FFFFFF;
	width: 750px;
	/*height: 3622px;*/
	
	border:10px solid #E9EFFF;

}
.bottom
{
	margin: 35px 0 0 0;
	width: 780px;
	height: 180px;
	background-color: #EFF3FF;

	
}
.bottomsm
{
   margin: 10px 0 0 20px;
	height: 170px;
	width: 70px;
	/*background-color: red;*/
	float: left;
	 
}
.bottombiao
{
	font-size:14px;
	font-family: Microsoft YaHei;
	font-weight:bold;
}
.bottomxuanxiang
{
	position: relative;
	top:15px;
   height: 130px;
   width: 80px;
   /*background-color: black;*/
   font-size:12px;
	font-family: Microsoft YaHei;
	line-height:160%;

}
.bottomxuanxiang1
{
	position: relative;
	top:15px;
   height: 130px;
   width: 110px;
   /*background-color: black;*/
   font-size:12px;
	font-family: Microsoft YaHei;
	line-height:160%;

}
.steptu
{
	margin: 25px 0 0 60px;
	float: left;
	height: 80px;
}

.renzhengwang
{    margin: 10px 10px 0 20px;
	float: left;
	height: 33px;
}
.kexin
{
	margin: 10px 10px 0 0;
	float: left;
	height: 33px;
}
.chengxin
{
	margin: 10px 10px 0 0;
	
	height: 33px;
}
.taocanbiaoti
{
   position: absolute;
   /*background-color: red;*/
   left: 15px;
   top: 10px;
   width: 500px;
   height: 23px;
   font-size: 20px;
   font-family: serif;
   
}
.yulantu
{
	position: absolute;
	left: 17px;
  top: 33px;
 width: 412px;
   height: 303px;
  /* background-color: red;*/
/*border: 1px solid #b5b5b5;*/
}
.jiagerili
{
	position: absolute;
	width: 412px;
	height: 334px;
	left: -16px;
	top: 310px;
	/*background-color: red;*/
	 -moz-transform:scale(0.8917,0.7917);  
      -webkit-transform:scale(0.8917,0.7917);  
      -o-transform:scale(0.8917,0.7917); 

}
.youhuijiakuang
{
	position: absolute;
	left: 432px;
	width: 330px;
	top: 31px;
	
	
}
.youhuijiazi
{
	position: absolute;
	left: 433px;
	width: 150px;
	height: 20px;
	top: 57px;
	font-size: 12px;
	font-family: serif;
	color:#FFFFFF;
	
}
.youhuijiazi2
{
	position: absolute;
	left: 140px;
	top: -1.5px;
	width: 150px;
	height: 20px;
	font-size: 12px;
	font-family: serif;
	color:#FFFFFF;
	
}
.youhuijia
{
	position: absolute;
	left: 50px;
	top: -17.5px;
	width: 80px;
	height: 40px;
	font-size: 35px;
	font-family: serif;
	color:#FFFFFF;
	/*background-color: white;*/
}
.feiyongshuoming
{
/*border: 1px solid #b5b5b5;*/
position: absolute;
left: 432px;
	width: 330px;
	top: 91px;
	height: 460px;
}
.yudinglan
{
	position: absolute;
	left: 436px;
	height: 158px;
	background-color: #f4f5f6;
	top: 558px;
	width: 320px;

}

.neironghengtiao
{
	margin: 730px 0 0 0;
	width: 750px;
	height: 40px;
	/*background-color: blue;*/
}

.neironghengtiaozi
{
	font-size: 15px;
	color: white;
	font-family: inherit;
	border-right-color: #7ABEEE;
    border-right-width: 1px;
    border-right-style: solid;

}
a:link {
 color:#FFFFFF;
 text-decoration:none;
 cursor:pointer;
 }
 a:visited {
 color:#FFFFFF;
 text-decoration:none;
 cursor:pointer;
 }



 a:hover {
 color:#FFFFFF;
 text-decoration:none;
 cursor:pointer;
 }


 a:active {
 color:#FFFFFF;
 text-decoration:none;
 cursor:pointer;
 }
.neirongtiao
{
	margin: 20px 0 0 0;
	width: 750px;
	
}
.youhuihuodongcontent
{
	margin: 20px 0 0 0;
	width: 750px;
}

.rollBox{width:704px;overflow:hidden;padding:12px 0 5px 6px;}
.rollBox .LeftBotton{height:52px;width:19px;background:url(/img/job_mj_069.gif) no-repeat 11px 0;overflow:hidden;float:left;display:inline;margin:25px 0 0 0;cursor:pointer;}
.rollBox .RightBotton{height:52px;width:20px;background:url(/img/job_mj_069.gif) no-repeat -8px 0;overflow:hidden;float:left;display:inline;margin:25px 0 0 0;cursor:pointer;}
.rollBox .Cont{width:670px;overflow:hidden;float:left;}
.rollBox .Cont2{width:500px;overflow:hidden;float:left;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:168px;float:left;text-align:center;}
.rollBox .Cont .pic img{padding:4px;background:#fff;border:1px solid #ccc;display:block;margin:0 auto;}
.rollBox .Cont .pic p{line-height:26px;color:#505050;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}
.zuogun{
	position: absolute;
	left: -24px;
	top: 70px;
	cursor:pointer;
}
.yougun
{
	position: absolute;
	left: 680px;
	top: 70px;
	cursor: pointer;
}

.taocanyudingziti
{
	margin: 10px 0 20px 10px;
	font-family: serif;
	font-size: 14px;

}
.pinglunfenlei
{    position: relative;
	top: -20px;
	left: 15px;
	width: 700px;
	height: 35px;
	/*border: 1px solid #b5b5b5;*/

}
.taocandianping
{

}












