body{
    margin: 0;
    padding: 0;
    background-image: url("../images/register/backgroung.png");
    /*background-size: ;*/
    /*background-repeat: space;*/
}
.container{
    width: 60.5%;
    margin-top: 16%;
    margin-left: 19.7%;
    position: absolute;
}
.mainbox{
    background-color: white;
    width: 60.5%;
    height: 510px;
    opacity: 0.63;
    position: absolute;
    margin-top:20.1%;
    margin-left: 19.7%;
}
.realContainer{
    margin: 10px 10px;
    background-color: white;
    height: 465px;
    width: 97.3%;
    overflow: auto;
}
.realContainer span{
    font-size: 28px;
    padding-left: 30px;
}
.realAboutUs{
    margin-left: 30px;
    margin-right: 25px;
    margin-top: 20px;
    font-size: 15px;
    line-height: 250%;
}
.severalBtn{
    position: absolute;
    margin-top: 20.1%;
    margin-left: 26.7%;
}
.severalBtn a{
    font-size: 18px;
    color: white;
}
.severalBtn a:hover{
    color: black;
}
.severalBtn li{
    list-style: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid white;
}
.severalBtn li:last-child{
    border: none;
}
a{
    color: #444444;
}
a:hover{
    color: red;
    font-weight: bolder;
}